<!-- SIDEBAR -->
<div id="sidebar" data-nosnippet>

    <!-- Index -->
    <!-- <nav id="nav_index">

        <a href="/">Home</a>

        <select onchange="window.document.location.href=this.options[this.selectedIndex].value;">
            <option value="/">&nbsp;</option>
            {%- assign site_posts = site.posts | sort: 'title' -%}
            {%- for post in site_posts -%}
                <option value="{{post.url}}">{{post.title | truncate: 36}}</option>
            {%- endfor -%}
        </select>

    </nav> -->
    <!-- Index -->


    <!-- Categories -->
    <nav id="nav_categories">
        <h4><a href="/categories" style="text-decoration: none;">Categories</a></h4>
        <select onchange="window.document.location.href=this.options[this.selectedIndex].value;">
        <option>&nbsp;</option>
        {%- assign site_categories = site.categories | sort -%}
        {%- for category in site_categories -%}
            {%- capture category_name -%}{{ category | first }}{%- endcapture -%}
                <optgroup label="{{category_name}}">
                {%- assign posts = site.categories[category_name] | sort: 'title' -%}
                {%- for post in posts -%}
                    <option value="{{post.url}}">{{post.title | truncate: 36}}</option>
                {%- endfor -%}
                </optgroup>
        {%- endfor -%}
        </select>
    </nav>
    <!-- Categories -->


    <!-- Tags -->
    <nav id="nav_tags">
        <h4><a href="/tags" style="text-decoration: none;">Tags</a></h4>
        <select onchange="window.document.location.href=this.options[this.selectedIndex].value;">
        <option>&nbsp;</option>
        {%- assign site_tags = site.tags | sort -%}
        {%- for tag in site_tags -%}
            {%- capture tag_name -%}{{ tag | first }}{%- endcapture -%}
                <optgroup label="{{tag_name}}">
                {%- assign posts = site.tags[tag_name] | sort: 'title' -%}
                {%- for post in posts -%}
                    <option value="{{post.url}}">{{post.title | truncate: 36}}</option>
                {%- endfor -%}
                </optgroup>
        {%- endfor -%}
        </select>
    </nav>
    <!-- Tags -->


    <!-- Archive -->
    <nav id="nav_archive" style="padding-bottom: 12px;">
        <h4><a href="/archive" style="text-decoration: none;">Archive</a></h4>
        {%- include widget_archive.html delimiter='<br>' -%}
    </nav>
    <!-- Archive -->


    <!-- Contact Us -->
    <nav id="nav_contact_us" style="padding-top: 20px;">
        <a id="mailto" href="mailto:webmaster_blog@timbrockley.co.uk" target="_blank">Contact Us</a>
    </nav>
    <!-- Contact Us -->

</div>
<!-- SIDEBAR -->
