{%- if include.delimiter -%}
  {%- assign delimiter = include.delimiter -%}
{%- else -%}
  headerbar{%- assign delimiter = '' -%}
{%- endif -%}

{%- assign site_posts = site.posts | sort -%}
{%- assign sections='' -%}
{%- for post in site_posts -%}
    {%- assign path = post.path | replace:'_drafts/','' -%}
    {%- assign path = path | replace:'_posts/','' -%}
    {%- assign path_parts = post.path | split: '/' -%}
    {%- if path contains '/' -%}
        {%- assign section = path_parts[1] -%}
        {%- assign sectionX = '¬' | append: section | append:  '¬'  -%}
        {%- unless sections contains sectionX -%}
            {%- assign sections=sections | append:  '¬' | append: section | append:  '¬' -%}
            <a href="/sections#{{section}}">{{section}}</a>{{delimiter}}
        {%- endunless -%}
    {%- endif -%}
{%- endfor -%}
