<!-- 301 LAYOUT -->
<!DOCTYPE html>
<html lang="en-GB">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta http-equiv="refresh" content="0; URL={{page.redirect | absolute_url}}">

    <meta name="timestamp" content="{{site.time}}">

    <title>{{page.title}}</title>

    <link rel="canonical" href="{{page.redirect | absolute_url}}">

  </head>

  <!-- <body data-nosnippet>

    <p>(301) The requested page has moved permanantly.</p>
    <p><a href="{{page.redirect | absolute_url}}">{{page.redirect | absolute_url}}</a></p>

  </body> -->

</html>
<!-- 301 LAYOUT -->
