<!-- 404 LAYOUT -->
<!DOCTYPE html>
<html lang="en-GB">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="noindex, nofollow, noarchive, noodp, noydir">

    <meta name="timestamp" content="{{site.time}}">

    <title>{{page.title}}</title>

    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/css/style.css">

  </head>

  <body data-nosnippet>

    {%- include header.html -%}

    <!-- MAIN -->
    <div id="main">

      <div class="centered_container">

        <h2><span style="color: #FFF;background-color: #E94C44;padding-left:0.2em;padding-right:0.2em;padding-top:0.1em;padding-bottom:0.05em;">404</span> Page not found</h2>
        <p>The requested page could not be found.</p>
        <p><a href="/">Homepage</a></p>

      </div>

    </div>
    <!-- MAIN -->

    {%- include sidebar.html -%}

    {%- include footer.html -%}

  </body>

</html>
<!-- 404 LAYOUT -->
